@import 'colors';
@import 'common';

.container{
    @extend .flex-center;

    > div:first-of-type {
        width: 80%!important;
        height: 100%!important;
    }

    background-color: $dark-secondary;
    max-height: 300px;
    width: 200px;
    margin: 20px 5px 20px 0;

    flex-direction: column;

    .minMaxTemp {
        display: flex;
        justify-content: space-between;
        width: 65%;
    }

    h3, h4 {
        font-weight: 500;
        color: $white-smoke;
    }

    .min {
        color: $light-grey;
    }

    @media (max-width: 1024px) {
        min-width: 250px;
    }
}