@import 'colors';
@import 'common';

.container{
    background-color: $dark-secondary;
    width: 100%;

    @extend .flex-center;
    flex-direction: column;

    .stat {
        @extend .flex-center;
    }

    h3 {
        font-size: 32px;
    }
    h4 {
        font-weight: 500;
        color: $white-smoke;
    }


}