@import 'colors';

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: $dark-primary;
}

@media only screen and (max-width: 1200px) {
    .container {
        grid-template-columns: 1.5fr 3fr;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        grid-template-columns: 100%;
    }
}