@import 'colors';
@import 'common';

@keyframes cloud1 {
    0% { 
        left: -200%;
    }

    100% {
        left: 62.5%;
    }
}

@keyframes cloud2 {
    0% { 
        left: -200%;
    }

    100% {
        left: 62.5%;
    }
}

.container{
    height: 100%;
    background-color: $dark-secondary;
    position: relative;
    max-height: 100vh;
    width: 32.5vw;
    display: grid;
    grid-template-rows: 12.5vh 30vh 57.5vh;
    position: fixed;
    top: 0;
    left: 0;

    header {
        @extend .flex-center;
        margin: auto;
        width: 92.5%;

        z-index: 3;

        justify-content: space-between;

        .searchBtn {
            font-size: 16px;
            height: 35px;
            width: 160px;
        }

        .controlBtns {
            display: flex;
            justify-content: space-evenly;
            width: 90px;

            .geolocBtn, .refreshBtn {
                @extend .flex-center;
    
                height: 35px;
                width: 35px;
                border-radius: 17.5px;
            }
            
    
            .searchBtn:hover, .searchBtn:focus, .geolocBtn:hover, .geolocBtn:focus, .refreshBtn:hover, .refreshBtn:focus {
                animation: pulse 1s;
                box-shadow: 0 0 0 2em rgba(#fff,0);
            }
        }
    }

    .stateIllustration {
        position: relative;
        width: 150%;

        .weatherStateImage {
            @extend .flex-center;

            width: 67.5%;
            height: 80%;
        }

        .clouds {
            position: absolute;
            opacity: 5%;
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;

            .cloudGroup1, .cloudGroup2 {
                display: flex;
                height: 50%;
            }

            .cloud1, .cloud2, .cloud3, .cloud4 {
                left: -200%;
            };

            .cloud1 {
                position: absolute;
                animation: cloud1 15s infinite linear;
            }

            .cloud2 {
                position: absolute;
                animation: cloud2 20s infinite linear;
                animation-delay: 1s;
            }

            .cloud3 {
                position: absolute;
                animation: cloud2 10s infinite linear;
                animation-delay: 4s;
            }

            .cloud4 {
                position: absolute;
                animation: cloud2 20s infinite linear;
                animation-delay: 8s;
            }
            
        }


    }

    .weatherDesc {
        display: grid;
        grid-template-rows: 30% 30% 40%;

        section {
            @extend .flex-center;

            color: $white-smoke;

            .temperatureNumber {
                font-size: 100px;

                &.bigger {
                    font-size: 110px;
                position: relative;
                top: 5px;
                left: 5px;
                }
            }

            .degree::after {
                content: attr(degree-unit);
                font-size: 40px;
                color: $light-grey;
                position: relative;
                top: 10px;
                left: 10px;
            }

            .degreeIcon {
                position: relative;
                top: -10px;
                left: 10px;
                font-size: 15px;
            }

            &.weatherState, .degreeIcon, &.metadata {
                color: $light-grey;
                h2 {
                    text-transform: capitalize;
                }
            }

            &.metadata {
                h3 {
                    font-size: 18px;
                }

                .marker {
                    position: relative;
                    top: 3px;
                    left: -5px;
                    font-size: 18px;
                }

                .dot {
                    padding: 20px;
                }
            }
        }

        .metadata {
            @extend .flex-center;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        position: relative;
        width: 100vw;
    }
}