@import 'colors';
@import 'common';

.container{
    background-color: $dark-primary;
    z-index: 1;
    color: $white-smoke;
    display: flex;
    flex-direction: column;
    width: 62.5vw;
    max-width: 1500px;
    margin-left: 32.5vw;

    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .celciusBtn, .fahrenBtn {
            @extend .flex-center;
            width: 35px;
            height: 35px;
            border-radius: 17.5px;
            margin-right: 10px;

            font-size: 18px;
            font-weight: 1000;
            &.active {
                background-color: $white-smoke !important;
                color: $dark-primary;
            }
        }

        margin: 40px 0;
    }
    
    .daysWeather {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 50px
    }

    .highlights {
        margin: auto 0 100px 50px;

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    @media (min-width: 2000px) {
        .daysWeather, .highlights {
            margin-left: auto !important;
            width: 1200px;
        }
    }

    @media (max-width: 1024px) {

        margin: auto;
        width: 90vw;

        header {
            padding: 20px 5px 20px 0 ;
        }

        .daysWeather {
            width: 100%;
            margin-bottom: 50px;
            margin: auto;
        }

        .highlights {
            width: 100%;

            h2 {
                text-align: center;
            }

            margin: auto;
        }
    }

    @media (max-width: 568px) {
        .daysWeather, .highlights .cards {
            justify-content: center;
        }
    }
    
}

